# Data exploration:

Objetivo: El objetivo de este fichero es conocer los datos, realizar una lista de todos aquellos graficos que deseo mostrar en el Barcelona_Dashboar.

Lista de posibles graficos a realizar:
1-En la pagina principal mostrar: 
    -un diagrama de barras con los distritos de la ciudad y su población, dar la opción de estratificar por  alguna variable como genero 
    -Mostrar en el mapa la ubicacion del centro de cada distrito de la ciudad.

2-Seleccionar dos distrito para compararlos con la siguiente información:(Creo que seria un diagrama de barras)
    -población
    -población estratificada por genero
    -población por edades
    -número de estaciones de bus, tren, metro etc.
    -pintar las estaciones de bus en el mapa.
    
3-Crear un radar_plot, donde se selecciones distintos distritos y que se comparen algunas caracteristicas como:
    -nacimientos
    -muertes
    -accidentes
    -expectativa de vida
    -calidad de aire
    -desempleo
    -

# Importacion de la base de datos:

In [12]:
population = db.population

In [44]:
import pandas as pd

df = pd.read_csv("data/population.csv")

In [34]:
df.head()

,Year,District.Code,District.Name,Neighborhood.Code,Neighborhood.Name,Gender,Age,Number
0,2017,1,Ciutat Vella,1,el Raval,Male,0-4,224
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Male,0-4,50
2,2017,1,Ciutat Vella,3,la Barceloneta,Male,0-4,43
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,0-4,95
4,2017,2,Eixample,5,el Fort Pienc,Male,0-4,124

In [36]:
df.shape

(70080, 8)

In [37]:
df.isna().sum()

Year                 0
District.Code        0
District.Name        0
Neighborhood.Code    0
Neighborhood.Name    0
Gender               0
Age                  0
Number               0
dtype: int64

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70080 entries, 0 to 70079
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               70080 non-null  int64
 1   District.Code      70080 non-null  int64
 2   District.Name      70080 non-null  object
 3   Neighborhood.Code  70080 non-null  int64
 4   Neighborhood.Name  70080 non-null  object
 5   Gender             70080 non-null  object
 6   Age                70080 non-null  object
 7   Number             70080 non-null  int64
dtypes: int64(4), object(4)
memory usage: 4.3+ MB

In [39]:
df.describe()

               Year  District.Code  Neighborhood.Code        Number
count  70080.000000   70080.000000       70080.000000  70080.000000
mean    2015.000000       6.246575          37.000000    114.844720
std        1.414224       2.788356          21.071458     96.540389
min     2013.000000       1.000000           1.000000      0.000000
25%     2014.000000       4.000000          19.000000     43.000000
50%     2015.000000       7.000000          37.000000     92.000000
75%     2016.000000       8.000000          55.000000    162.000000
max     2017.000000      10.000000          73.000000    777.000000

In [40]:
df["District.Name"].unique()

array(['Ciutat Vella', 'Eixample', 'Sants-Montjuïc', 'Les Corts',
       'Sarrià-Sant Gervasi', 'Gràcia', 'Horta-Guinardó', 'Nou Barris',
       'Sant Andreu', 'Sant Martí'], dtype=object)

In [57]:
#df["Neighborhood.Name"].unique()
df["Year"].unique()

array([2017, 2016, 2015, 2014, 2013])

In [58]:
df["Neighborhood.Name"].unique()

array(['el Raval', 'el Barri Gòtic', 'la Barceloneta',
       'Sant Pere, Santa Caterina i la Ribera', 'el Fort Pienc',
       'la Sagrada Família', "la Dreta de l'Eixample",
       "l'Antiga Esquerra de l'Eixample",
       "la Nova Esquerra de l'Eixample", 'Sant Antoni', 'el Poble Sec',
       'la Marina del Prat Vermell', 'la Marina de Port',
       'la Font de la Guatlla', 'Hostafrancs', 'la Bordeta',
       'Sants - Badal', 'Sants', 'les Corts',
       'la Maternitat i Sant Ramon', 'Pedralbes',
       'Vallvidrera, el Tibidabo i les Planes', 'Sarrià',
       'les Tres Torres', 'Sant Gervasi - la Bonanova',
       'Sant Gervasi - Galvany', 'el Putxet i el Farró',
       'Vallcarca i els Penitents', 'el Coll', 'la Salut',
       'la Vila de Gràcia', "el Camp d'en Grassot i Gràcia Nova",
       'el Baix Guinardó', 'Can Baró', 'el Guinardó',
       "la Font d'en Fargues", 'el Carmel', 'la Teixonera',
       'Sant Genís dels Agudells', 'Montbau', "la Vall d'Hebron",
       'la Clota', 'Horta', 'Vilapicina i la Torre Llobeta', 'Porta',
       'el Turó de la Peira', 'Can Peguera', 'la Guineueta', 'Canyelles',
       'les Roquetes', 'Verdun', 'la Prosperitat', 'la Trinitat Nova',
       'Torre Baró', 'Ciutat Meridiana', 'Vallbona', 'la Trinitat Vella',
       'Baró de Viver', 'el Bon Pastor', 'Sant Andreu', 'la Sagrera',
       'el Congrés i els Indians', 'Navas', "el Camp de l'Arpa del Clot",
       'el Clot', 'el Parc i la Llacuna del Poblenou',
       'la Vila Olímpica del Poblenou', 'el Poblenou',
       'Diagonal Mar i el Front Marítim del Poblenou',
       'el Besòs i el Maresme', 'Provençals del Poblenou',
       'Sant Martí de Provençals', 'la Verneda i la Pau'], dtype=object)

In [42]:
df = pd.read_csv("data/air_quality_Nov2017.csv")

In [53]:
df.columns

Index(['Year', 'District.Code', 'District.Name', 'Neighborhood.Code',
       'Neighborhood.Name', 'Gender', 'Age', 'Number'],
      dtype='object')

In [63]:
df.duplicated(subset=['Year', 'District.Code', 'District.Name', 'Neighborhood.Code',
       'Neighborhood.Name', 'Gender', 'Age', 'Number']).sum()

4277

In [64]:
df[df.duplicated(subset=['Year', 'District.Code', 'District.Name', 'Neighborhood.Code',
       'Neighborhood.Name', 'Gender', 'Age', 'Number'], keep=False)].sort_values(by=['Year', 'District.Code', 'District.Name', 'Neighborhood.Code',
       'Neighborhood.Name', 'Gender', 'Age', 'Number']).head()
#Nota, se tienen que eliminar algunos duplicados

,Year,District.Code,District.Name,Neighborhood.Code,Neighborhood.Name,Gender,Age,Number
63802,2013,1,Ciutat Vella,1,el Raval,Female,10-14,167
64021,2013,1,Ciutat Vella,1,el Raval,Female,10-14,167
66503,2013,1,Ciutat Vella,1,el Raval,Female,45-49,299
66576,2013,1,Ciutat Vella,1,el Raval,Female,45-49,299
68620,2013,1,Ciutat Vella,1,el Raval,Female,75-79,156