# Data cleaning: transports

In [7]:
import pandas as pd

df = pd.read_csv("data/bus_stops.csv")

In [9]:
df.head(2)

,Code,Transport,Longitude,Latitude,Bus.Stop,District.Name,Neighborhood.Name
0,K014,Day bus stop,2.171619,41.413744,BUS -192--,Horta-Guinardó,el Guinardó
1,K014,Day bus stop,2.134902,41.420222,BUS -124--,Gràcia,Vallcarca i els Penitents

In [10]:
df.shape

(3162, 7)

In [11]:
df.isna().sum()

Code                  0
Transport             0
Longitude             0
Latitude              0
Bus.Stop              0
District.Name        16
Neighborhood.Name    16
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3162 entries, 0 to 3161
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Code               3162 non-null   object
 1   Transport          3162 non-null   object
 2   Longitude          3162 non-null   float64
 3   Latitude           3162 non-null   float64
 4   Bus.Stop           3162 non-null   object
 5   District.Name      3146 non-null   object
 6   Neighborhood.Name  3146 non-null   object
dtypes: float64(2), object(5)
memory usage: 173.0+ KB

In [13]:
df.describe()

         Longitude     Latitude
count  3162.000000  3162.000000
mean      2.159824    41.405002
std       0.027898     0.027150
min       2.055835    41.321643
25%       2.140627    41.386903
50%       2.161103    41.405734
75%       2.180406    41.423526
max       2.221753    41.467592

In [14]:
df["District.Name"].unique()

array(['Horta-Guinardó', 'Gràcia', 'Sarrià-Sant Gervasi', 'Sant Martí',
       'Sants-Montjuïc', 'Ciutat Vella', 'Nou Barris', 'Les Corts',
       'Eixample', 'Sant Andreu', nan], dtype=object)

In [16]:
df["Neighborhood.Name"].unique()

array(['el Guinardó', 'Vallcarca i els Penitents', "la Font d'en Fargues",
       'Sarrià', 'el Putxet i el Farró', 'Sant Gervasi - la Bonanova',
       'Diagonal Mar i el Front Marítim del Poblenou', 'la Bordeta',
       'Sant Pere, Santa Caterina i la Ribera',
       "el Camp de l'Arpa del Clot", 'la Teixonera', 'Torre Baró',
       'Vallbona', 'la Maternitat i Sant Ramon', 'la Trinitat Nova',
       'el Baix Guinardó', 'Sant Antoni', 'la Trinitat Vella', 'Porta',
       'Provençals del Poblenou', 'Montbau', 'Pedralbes',
       'el Parc i la Llacuna del Poblenou', 'les Corts', 'el Poblenou',
       "l'Antiga Esquerra de l'Eixample", 'la Sagrada Família', 'Horta',
       'el Carmel', 'la Marina de Port', 'el Besòs i el Maresme',
       'la Marina del Prat Vermell', "la Dreta de l'Eixample",
       'la Verneda i la Pau', 'Sant Andreu', 'el Poble-sec',
       'el Barri Gòtic', "la Nova Esquerra de l'Eixample",
       'la Barceloneta', 'el Bon Pastor', 'la Vila Olímpica del Poblenou',
       'el Clot', 'Sants - Badal', 'Sant Gervasi - Galvany',
       'la Font de la Guatlla', 'la Vila de Gràcia', 'Hostafrancs',
       'la Guineueta', 'Sant Martí de Provençals', "la Vall d'Hebron",
       'Navas', 'Vallvidrera, el Tibidabo i les Planes', 'la Sagrera',
       "el Camp d'en Grassot i Gràcia Nova", 'Sant Genís dels Agudells',
       'Verdun', 'Ciutat Meridiana', 'el Fort Pienc', 'Sants', nan,
       'la Clota', 'la Salut', 'Can Baró', 'el Congrés i els Indians',
       'el Raval', 'Baró de Viver', 'la Prosperitat',
       'Vilapicina i la Torre Llobeta', 'les Roquetes', 'Canyelles',
       'el Coll', 'les Tres Torres', 'el Turó de la Peira', 'Can Peguera'],
      dtype=object)

In [17]:
df.columns

Index(['Code', 'Transport', 'Longitude', 'Latitude', 'Bus.Stop',
       'District.Name', 'Neighborhood.Name'],
      dtype='object')

In [19]:
df.duplicated(subset=['Code', 'Transport', 'Longitude', 'Latitude', 'Bus.Stop',
       'District.Name', 'Neighborhood.Name']).sum()

0

In [20]:
def extract(x,dic):
    for k,v in dic.items():
        if k in str(x):
            return v
    return x

In [21]:
df["District.Name_"] = df["District.Name"].apply(extract, dic = {"nan":"unknowled"})
df["Neighborhood.Name_"] = df["Neighborhood.Name"].apply(extract, dic = {"nan":"unknowled"})

In [22]:
df.head(2)

,Code,Transport,Longitude,Latitude,Bus.Stop,District.Name,Neighborhood.Name,District.Name_,Neighborhood.Name_
0,K014,Day bus stop,2.171619,41.413744,BUS -192--,Horta-Guinardó,el Guinardó,Horta-Guinardó,el Guinardó
1,K014,Day bus stop,2.134902,41.420222,BUS -124--,Gràcia,Vallcarca i els Penitents,Gràcia,Vallcarca i els Penitents

In [23]:
df.isna().sum()

Code                   0
Transport              0
Longitude              0
Latitude               0
Bus.Stop               0
District.Name         16
Neighborhood.Name     16
District.Name_         0
Neighborhood.Name_     0
dtype: int64

Creación del new_bus_stops.csv sin elemento nulos para luego pasarlo a mongodb.

In [24]:
new_bus_stops = df.drop(columns=['District.Name', 'Neighborhood.Name'])

In [25]:
new_bus_stops.isna().sum()

Code                  0
Transport             0
Longitude             0
Latitude              0
Bus.Stop              0
District.Name_        0
Neighborhood.Name_    0
dtype: int64

In [26]:
new_bus_stops.to_csv("data/new_bus_stops.csv",index=False)

In [27]:
df = pd.read_csv("data/new_bus_stops.csv")
df.head()

,Code,Transport,Longitude,Latitude,Bus.Stop,District.Name_,Neighborhood.Name_
0,K014,Day bus stop,2.171619,41.413744,BUS -192--,Horta-Guinardó,el Guinardó
1,K014,Day bus stop,2.134902,41.420222,BUS -124--,Gràcia,Vallcarca i els Penitents
2,K014,Day bus stop,2.162913,41.423187,BUS -117--,Horta-Guinardó,la Font d'en Fargues
3,K014,Day bus stop,2.163667,41.422899,BUS -117--,Horta-Guinardó,la Font d'en Fargues
4,K014,Day bus stop,2.120212,41.397209,BUS -130--,Sarrià-Sant Gervasi,Sarrià